<head>
    <title>Archive</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<style type="text/css">
	h1 {
		text-align: center;
	}
	#heading {
		background-color: orange;
	}
	footer {
		bottom: 0px;
		text-align: center;
		position: fixed;
		margin-left: 45%; 
	}
</style>
<div id="heading">
	<h1>Archive</h1>	
</div>
<div id="list">
	<ul class="list-group">
	{% for post in posts %}
	    <li class="list-group-item"><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></li>
	{% endfor %}
	<br><br>
	</ul>
</div>
<footer>
	<a href="/">Go to Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/archive">Archive</a>
</footer>

