<head>
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<style>

h1 {
    text-align: center;
    color: white;
    margin-top: 110px;
}

body {
    background: url(http://eulercoder.me/img/home-bg.jpg) no-repeat;
    background-size: 100% 50%;
}

#posts {
    margin-left: 50px;
    margin-top: 250px;
}
</style>
<h1>Welcome to my Blog</h1>
<div id="posts">
    <div class="btn btn-info btn-lg"><a href="/newpost">New</a></div>
    <ul>
        {% for post in posts %}
            <li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></li>
        {% endfor %}
    </ul>
</div>
