<head>
    <title>My Blog</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#btn").click(function() {
            var title = $("#title").val();
            var content = $("#content").val();

            $.ajax({
                type: 'POST',
                url: '/new',
                data: JSON.stringify ({'title': title, 'content': content}),
                success: function(data) {
                    alert('Post Successful');
                    $("#title").val("");
                    $("#content").val("");
                },
                contentType: "application/json",
                dataType: 'json'
            });
        });
    });
</script>
<style>
#btn {
    cursor: pointer;
    border: solid;
    text-align: center;
    margin-right: 50%;
}
</style>
<h1>Welcome to my Blog</h1>
<h3>Add a post</h3>
<input type="text" id="title" placeholder="Title">
<br>
<textarea id="content" rows="30" cols="100" placeholder="Your Story..."></textarea>
<div id="btn">Post</div>
<h5><a href="/archive">Archive</a></h5>
